@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");

// Colors
$red: #f74b4b;
$yellow: #fdd328;
$white: #fff;
$dark: #202125;
$light: #8d8d8d;
$gray-100: #f8f8f8;

$primary: $yellow;
$secondary: $red;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 6.25;
$h2-font-size: $font-size-base * 3.75;
$h3-font-size: $font-size-base * 3.125;
$h4-font-size: $font-size-base * 2.625;
$h5-font-size: $font-size-base * 2;
$h6-font-size: $font-size-base * 1.25;

// Border
$border-radius: 5px;
$border-radius-lg: 10px;

// Navbar
$navbar-padding-y: 15px;
$navbar-padding-x: 20px;

$navbar-nav-link-padding-x: 15px;

$navbar-brand-height: 50px;
$navbar-brand-padding-y: 0;

// Spacing
$spacer: 20px;

// Z Index
$zindex-navbar-normal: 1030;
