@import "./variables";

.navbar {
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand {
    height: 75px;
}

.nav-link {
    color: $white;
    padding: 10px $navbar-nav-link-padding-x !important;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    font-size: 12px;

    &:hover {
        color: transparentize($color: $white, $amount: 0.5);
    }
}
