@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");

// Colors
$red: #f74b4b;
$yellow: #fdd328;
$white: #fff;
$dark: #202125;
$light: #8d8d8d;

$primary: $yellow;
$secondary: $red;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;

// Border
$border-radius: 5px;
$border-radius-lg: 10px;

// Navbar
$navbar-padding-y: 15px;
$navbar-padding-x: 20px;

$navbar-nav-link-padding-x: 15px;

$navbar-brand-height: 50px;
$navbar-brand-padding-y: 0;

// Spacing
$spacer: 20px;

// Z Index
$zindex-navbar-normal: 1030;